.container{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: auto;
    border: 2px solid black;
    
}
li a{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: black;
}